# Project exclude paths
/venv/
/venv2/
.env
.DS_Store

# Python cache
__pycache__/
*.py[cod]

/data/extracted_text

/logs

/archive

/outputs

/train_cross_encoder/dataset
/train_cross_encoder/models
/train_cross_encoder/eval_runs
/wandb
