# Project exclude paths
/venv/
/venv2/
.env
.DS_Store

# Python cache
__pycache__/
*.py[cod]

/data/extracted_text

/logs

/archive

/outputs

/train_cross_encoder/dataset
/train_cross_encoder/models
/train_cross_encoder/eval_runs

/finetune_supervision/dataset
/finetune_supervision/models
/finetune_supervision/eval_runs

/finetune_cross_encoder/dataset

/wandb

# cross_encoder generated artifacts
/cross_encoder/**/dataset/
/cross_encoder/**/models/
