#PSQL CONFIG
PGHOST=127.0.0.1
PGPORT=5432
PGUSER=your-db-user
PGPASSWORD=your-db-password
PGDATABASE=grants_v3

# Grant.gov (Simpler API)
GRANT_API_KEY=your-simpler-grants-api-key
SIMPLER_SEARCH_URL=https://api.simpler.grants.gov/v1/opportunities/search
SIMPLER_DETAIL_BASE_URL=https://api.simpler.grants.gov/v1/opportunities/

#OPEN Alex : fetching publications
#OPENALEX_BASE_URL=https://api.openalex.org

#Determine what provider you are going to user
#AWS->Bedrock
LLM_PROVIDER=bedrock #openai
EMBEDDING_PROVIDER=bedrock #openrouter

#OPENAI
OPENAI_MODEL=gpt-5.2-2025-12-11
OPENAI_API_KEY=your-openai-api-key

#QWEN
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
OPENROUTER_API_KEY=your-openrouter-api-key
QWEN_EMBED_MODEL=qwen/qwen3-embedding-8b

#AWS
AWS_REGION=us-east-2
#CLAUDE
#BEDROCK_MODEL_ID=us.anthropic.claude-opus-4-5-20251101-v1:0
#BEDROCK_MODEL_ID=us.anthropic.claude-sonnet-4-5-20250929-v1:0
BEDROCK_MODEL_ID=us.anthropic.claude-haiku-4-5-20251001-v1:0
BEDROCK_CLAUDE_HAIKU=us.anthropic.claude-haiku-4-5-20251001-v1:0
BEDROCK_CLAUDE_SONNET=us.anthropic.claude-sonnet-4-5-20250929-v1:0
BEDROCK_EMBED_MODEL_ID=amazon.titan-embed-text-v2:0

#EXTRACTED CONTENT SAVED PATH
#EXTRACTED_CONTENT_PATH=/home/ec2-user/grant-matching-agent/data/extracted_text

EXTRACTED_CONTENT_BACKEND=s3
EXTRACTED_CONTENT_BUCKET=your-s3-bucket
EXTRACTED_CONTENT_PREFIX=extracted-context-opportunities
EXTRACTED_CONTENT_PREFIX=extracted-context-faculties

OPPORTUNITY_ATTACHMENT_PATH=opportunities/attachments
OPPORTUNITY_ADDITIONAL_LINK_PATH=opportunities/additional_links

FACULTY_ADDITIONAL_LINK_PATH=faculty/additional_links

#AWS SES
SES_REPLY_TO_EMAIL=your-email@example.com
SES_FROM_EMAIL=your-email@example.com


# Semantic Scholar API key
S2_API_KEY=your-semantic-scholar-api-key
